/* ==========================================================================
   Base
   ========================================================================== */

#terminal {
  background: #002b36 url('/assets/img/noise.png') top left;
  border-radius: 0.4em;
  border: 1px solid #05232b;
  margin-bottom: 2.1em;
  padding: .8em 1em;
  color: #93a1a1;
  overflow: auto;
  font-family: 'Inconsolata', sans-serif;
  font-size: 1.1em;
}

code {
	color: rgb(77, 77, 77);
	font-size: 0.8em;
}

.thumbnail {
  border: none;
  margin-bottom: 10px;
}

.thumbnail .caption {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 5px;
  font-size: 1em;
  font-weight: 200;
}

body { 
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: white;
  color: black;
}

p, i, li {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
}

h1 {
  font-size: 2em;
}

h1, h2, h3 {
  font-weight: 200;
}

blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: none;
}

blockquote p {
  margin-bottom: 10;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.5em;
  text-indent: -50px;
  padding-left: 40px;
}

.navbar .brand {
  color: #0735C4;
}

a {
  color: #0735C4;
  text-decoration: none;
}

a:hover, a:focus {
  color: #13A519;
  text-decoration: none;
}

img {
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

p.entry-meta {
  font-size: 0.9em;
  font-weight: 200;
}

ul.me {
    margin-left: 5px;	
    padding-left: 0px;
}

.me li {
  list-style-type: none;
  height: 24px;
  line-height: 30px;
  height: 30px;
  padding-left: 32px;
}

li.twitter {
  background: url('/assets/img/socialmediaicons-1.10.0/twitter-24x24.png') no-repeat left center;
}

li.github {
  background: url('/assets/img/socialmediaicons-1.10.0/github-24x24.png') no-repeat left center;
}

li.linkedin {
  background: url('/assets/img/socialmediaicons-1.10.0/linkedin-24x24.png') no-repeat left center;
}

li.xing {
  background: url('/assets/img/socialmediaicons-1.10.0/xing-24x24.png') no-repeat left center;
}

li.gplus {
  background: url('/assets/img/socialmediaicons-1.10.0/google+-24x24.png') no-repeat left center;
}

li.email {
  background: url('/assets/img/socialmediaicons-1.10.0/email-24x24.png') no-repeat left center;
}

li.speakerdeck {
  background: url('/assets/img/socialmediaicons-1.10.0/speakerdeck-24x24.png') no-repeat left center;
}


.widget_recent_entries li {
  list-style-type: hangul-consonant;	
  font-size: 1.2em;
}

.widget_archive ul {
  margin-left: 5px;	
  padding-left: 0px;
}

.widget_archive li {
    list-style-type: none;	
}

/* =============================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
